.container{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #00000044;
    width: 100%;
    height: 10vh;
}
.left{
    width: 20%;
}
.left img{
    height: 100%;
}
.center{
    width: 60%;
    display: flex;
    align-items: center;
}
.center ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.center a{
    font-weight: 300;
    letter-spacing: 1px;
}
.right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.headerRightCont{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.buttonOuter{
    display: flex;
    padding: .2rem 0;
}
.button{
    color: #fff;
    background: #971c1ca1;
    padding: .5rem 1rem;
    border-radius: .2rem;
    font-weight: 500;
}
#dashBtn{
    padding: .5rem 1rem;
}